.sidebar {
    flex: 1;
    overflow: scroll;
    overflow: auto;
  }
  
  .quote-card {
    background-color: var( --color-secundary);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  }
  
  .quote-card h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .quote-card span {
    font-size: 14px;
    color: #555;
  }