.formulario{
    flex: 2;
     display: flex;
     justify-content: center;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  .appointment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px; 
    margin: 0 auto;
  }
  
  .columnas {
    display: flex;
    justify-content: space-between;
  }
  
  .columna {
    flex: 1;
    padding: 0 20px; 
  }

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.modal-content-form button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.modal-content-form ul {
  list-style: none;
  padding: 0;
}


.modal-content-form li {
  margin-bottom: 10px;
}

.medicos-list-container {
  width: 100%;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  white-space: nowrap; /* Evita que las tarjetas se dividan en múltiples líneas */
}

/* Estilos para las tarjetas de médicos */
.medico-card {
  display: inline-block; /* Las tarjetas se mostrarán en línea */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px; /* Espacio entre las tarjetas */
  width: 200px; /* Ancho de cada tarjeta */
  text-align: center;
  padding: 10px;
  transition: transform 0.3s; /* Efecto de transición al hacer hover */
}

.medico-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.medico-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.medico-card button:hover {
  background-color: #0056b3;
} 
/* Estilos para el icono de flecha hacia atrás */
.back-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem; /* Tamaño del icono */
  cursor: pointer;
}

/* Estilos para el encabezado del modal */
.modal-header {
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Estilos para el contenido del modal */
.modal-content-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  position: relative; /* Permite alinear el contenido centralmente */
}

.modal-content-form p {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content-form div {
  text-align: center; /* Centra los botones */
}

.modal-content-form button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

.modal-content-form button:hover {
  background-color: #0056b3;
}
