/* Medication.css */

/* Contenedor principal */
.medication-container {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* Título */
.medication-title {
    font-size: 28px;
    margin-bottom: 20px;
    flex: 1;
}

/* Lista de Medicamentos */
.medication-list {
    list-style: none;
    padding: 0;
    flex: 1;
}

.medication-item {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Encabezado del Modal */
.medication-modal-header {
    background-color: #007bff;
    color: #fff;
    border: none;
}

/* Título del Modal */
.medication-modal-title {
    font-size: 24px;
}

/* Cuerpo del Modal */
.medication-modal-body {
    padding: 20px;
}

/* Etiqueta del Formulario */
.medication-form-label {
    font-weight: bold;

}

/* Pie del Modal */
.medication-modal-footer {
    border: none;
}

/* Botón Guardar */
.medication-save-btn {
    background-color: #007bff;
    border: none;
}

.medication-save-btn:hover {
    background-color: #0056b3;
}

/* Aumenta el tamaño del icono y ajusta el margen izquierdo */
.icon-add {
    font-size: 40px;
    margin-left: 300px;
}

.icon-pill{
    font-size: 30px;
    color: var(--color-primary);
}

.icon-info{
    font-size: 25px;
    color: var(--color-primary);
}
.close-icon{
    color: var(--color-primary);
    width: 50px;
    height: auto;
}

.btn-guardar {
    background-color:  var(--color-primary);
    width: 150px;
    height: 50px;
    font-size: 16px;
    border: none;
    margin: 0 auto; /* Esto centrará el botón horizontalmente */
    display: block; /* Hace que el botón ocupe todo el ancho disponible */
}

/* Modal */
.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-top: 20px;
  }
  
  .card {
    width: 800px; /* Ancho deseado de las tarjetas */
    height: auto;
    margin: 10px; /* Espacio entre las tarjetas */
    border-radius: 10px;
  }
  .card-text {
    display: flex; /* Muestra los elementos en fila */
    flex-direction: row; /* Alinea los elementos en fila */
    justify-content: left; /* Espacio uniforme entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: 20px;
    gap: 20px; /* Ajusta el espacio entre los elementos (puedes cambiar el valor según tus preferencias) */
  }
  .card-text2 {
    display: flex; /* Muestra los elementos en fila */
    flex-direction: row; /* Alinea los elementos en fila */
    justify-content: left; /* Espacio uniforme entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: 20px;
    gap: 20px; /* Ajusta el espacio entre los elementos (puedes cambiar el valor según tus preferencias) */
  }
  .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dosis{
    margin-left: 10px;
  }

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
    .medication-item {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .icon-add {
        margin-left: 130px;
    }

    .card {
        width: 90%; /* Ancho del 90% del contenedor padre */
        margin: 5px auto; /* Centra las tarjetas horizontalmente y agrega espacio vertical */
        border-radius: 10px;
        text-align: center; /* Centra el contenido horizontalmente */
        padding: 10px;
    }

    .card-text {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flujo a columna */
        align-items: center; /* Centra verticalmente los elementos */
        gap: 0px;
        margin-right: 20px;
      }
  
      
      .card-text2 {
        display: flex;
        flex-direction: row; /* Cambia la dirección del flujo a fila */
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center; /* Centra verticalmente los elementos */
        gap: 5px;
        margin-right: 0px;
      }
      

    .card-title {
        font-size: 1.5rem; /* Tamaño de fuente más grande para el título */
        margin-bottom: 10px; /* Espacio adicional debajo del título */
    }

    .icon-pill {
        font-size: 2rem; /* Ajusta el tamaño del ícono */
        margin-bottom: 10px; /* Espacio adicional debajo del ícono */
    }
}

