/* Home.css */
.home-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
  }
  
  .carousel-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .diabetes-info {
    background-color: #b7d2dd;
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
  }
  
  .features-section {
    margin-top: 30px;
  }
  
  .features-section h2 {
    color: #3e98b9;
  }
  
  .features-section ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .carousel-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden; /* Oculta contenido que exceda el contenedor */
  }
  
  .carousel .slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    border-radius: 10px; /* Añade bordes redondeados a las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  /* ...otros estilos... */
  