/* Dietas.css */

.diet-container {
  padding: 20px;
  text-align: center;
}

.filter-buttons {
  margin-top: 20px;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: transparent; /* Fondo transparente por defecto */
  color: #007bff; /* Color de texto por defecto */
  border: 2px solid #007bff; /* Borde por defecto */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave del color de fondo, texto y borde */
  width: 150px;
  text-align: center;
}

.filter-buttons button:active {
  background-color: #007bff; /* Cambia el color de fondo a azul cuando el botón está activo (clicado) */
  color: #fff; /* Cambia el color de texto a blanco cuando el botón está activo */
  border-color: #007bff; /* Cambia el color del borde a azul cuando el botón está activo */
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease; /* Cambio rápido de color al hacer clic */
}

.category-items {
  margin-top: 20px;
}

.column {
  margin-bottom: 5px;
  margin-top: 10px;
}

.item-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  max-width: 250px;
  margin: 0 auto;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card img {
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-card h5 {
  padding: 10px;
  margin: 0;
  font-size: 16px;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: center;
}

/* Estilos para dispositivos móviles (ancho de pantalla menor a 768px) */
@media (max-width: 768px) {
  .filter-buttons button {
    padding: 8px 12px; /* Reducir el relleno para hacer los botones más pequeños */
    font-size: 14px; /* Reducir el tamaño de fuente de los botones */
    width: 150px; /* Reducir el ancho de los botones */
  }
  .item-card {
    max-width: 350px; /* Aumentar el ancho de las tarjetas en dispositivos móviles */
  }
}