.home{
    background-color: var( --color-secundary);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;

}